@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NORMALIZE */
h1 {
  font-size: 40px;
  font-weight: 800;
}
h2 {
  font-size: 34px;
  font-weight: 800;
}
h3 {
  font-size: 29px;
  font-weight: 800;
}
h4 {
  font-size: 24px;
  font-weight: 400;
}
h5 {
  font-size: 21px;
}
h6 {
  font-size: 18px;
}
